<ion-tabs class=" tabs-striped tabs-color-calm tabs-icon-top ">

  <ion-tab title="Orders" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" href="#/cookHome/orders">
    <ion-nav-view name="cook-orders" >
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Dishes" icon-on="ion-pizza" icon-off="ion-pizza" href="#/cookHome/dishes">
    <ion-nav-view name="cook-dishes" view-title="Dishes">
    </ion-nav-view>
  </ion-tab>
  <ion-tab title="Payments" icon-on="ion-social-usd" icon-off="ion-social-usd" href="#/cookHome/payments">
    <ion-nav-view name="cook-payments" view-title="Payments">
    </ion-nav-view>
  </ion-tab>
  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear" href="#/cookHome/settings">
    <ion-nav-view name="cook-settings" view-title="cook-settings">
    </ion-nav-view>
  </ion-tab>

</ion-tabs>